// @font-face {
//   font-family: 'exo';
//   src: url('/Exo2-Regular.woff2');
// }

$primary: #0D3947;
$secondary: #297A58;
$secondary--lighter: #AAC6C1;
$gray--base: #364E5C;
$ternary: #153A61;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'exo'
}